#canvas {
  position: absolute;
}

.editor_container {
  border-right: 1px solid #6b6b6b4a;
  border-left: 1px solid #6b6b6b4a;
  background-color: white;
}

.menu {
  border-bottom: 1px solid #6b6b6b4a;
}

.title {
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 32px;
}

#main_text {
  flex-grow: 1;
}

/*
 * WritingObject
 */

.writing_Object {
  min-width: 100%;
  margin-top: 10px;
}

[contenteditable="true"] {
  outline: none;
  opacity: 0.5;
}

#quick_menu {
  position: absolute;
  background-color: white;
}

#text_object_quick_menu {
  width: 300px;
  height: 50;
  border: 1px solid #6b6b6b4a;
  background-color: white;
}

.drop_menu {
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  min-height: auto;
  padding-right: 10px;
}

.expand_open {
  margin-left: 10px;
  margin-right: 10px;
}

.expand_open::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-size: 10px 10px;
  background-image: url(./expand-up.svg);
  background-repeat: no-repeat;
}
